<STYLE TYPE="text/css">
{ }
P
{margin-top:0cm;margin-right:4.25pt;margin-bottom: 0cm;margin-left:16.0pt;margin-bottom:.0001pt;text-indent:-16.0pt;line-height: 12.0pt} 

P.opmerkingen
{MARGIN-LEFT: 4.3pt; LINE-HEIGHT: 12pt; tab-stops: -16.0pt 0in;font-family:arial;font-size:10pt}

P.verwerkt
{LINE-HEIGHT: 12pt; tab-stops: -16.0pt 0in;font-family:arial;font-size:10pt}

P.nietinspringen
{margin-top:0cm;margin-right:4.25pt;margin-bottom: 0cm;margin-left:0.0pt;margin-bottom:.0001pt;text-indent:0.0pt;line-height: 12.0pt} 

TABLE.boven
{width:995px}

TABLE.onder
{BORDER-TOP: #000000 3px double;width:995px}

#onder
{BORDER-TOP: #000000 3px double}
  
TD.tekst
{padding:0cm 4.2pt 0cm 4.2pt; WIDTH: 730pt; vertical-align: top} 

TD.bron
{BORDER-RIGHT: #000000 1px solid; BORDER-LEFT: #000000 1px solid;padding:0cm 4.2pt 0cm 4.2pt; WIDTH: 210px;vertical-align: top}
 
TD.init
{WIDTH: 60px;padding:0cm 4.2pt 0cm 4.2pt;vertical-align: top}
 
TD.opmerkingen
 {BORDER-RIGHT: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid;text-align: center;height:20px;width:210px;text-align: center;font-family:arial;font-size:10pt}

TD.verwerkt
{LINE-HEIGHT: 12pt; tab-stops: -16.0pt 0in;BORDER-BOTTOM: #000000 1px solid;text-align: center;font-family:arial;font-size:10pt}

TD.trefwoord
{PADDING-BOTTOM: 2px; vertical-align: bottom; text-align:left;padding-left:20px;padding-top:10px;width:440px}

TD.volgnummer
{PADDING-BOTTOM: 2px;PADDING-RIGHT:40px; vertical-align: bottom; text-align:right; padding-top:10px; width:225px}
 
A
{text-decoration:none}

A:hover
{text-decoration:none;color: red}

title
{color: red}

span.kleinkapitaal
{font-size:11.0px;text-transform: uppercase}

span.kleineletter
{font-size:10.0px}

span.lijnhoogte
{LINE-HEIGHT: 16pt; }

sup
{vertical-align:top}

sub
{vertical-align:bottom}

#statcounter{position:absolute;right:50px;bottom:80px}

</style>
